* {
    box-sizing: border-box;
}

.container_spiders {
    margin-top: 20px;
}

.column1 {
    display: flex;
    width: 80%;
    float: left;
}

.column2 {
    display: flex;
    float: right;
    width: 20%;
    border: solid 2px red;
    flex-direction: column;
}

.column3 {
    display: flex;
    width: 100%;
    border-top: solid 2px burlywood;
    justify-content: center;

}

.column4 {
    display: flex;
    width: 100%;
    border-top: solid 2px burlywood;
    justify-content: center;


}


.col1 {
    display: flex;
    float: left;
    width: 50%;
    flex-direction: column;
}

.col1 span {
    margin-left: 8px;
    text-align: left;
    font-size: 18px;
}

.col2 {
    width: 50%;
    float: right;
}

.col2 img {
    margin: 50px;
    border-radius: 200px;
    max-width: 60%;
    min-width: auto;
    border: solid 5px black;
}

.mapNpins {
    /*can be used to  manipulate/position the entire mapNpins block*/
    display: block;
    width: 100%;
    border-top: solid 2px burlywood;


}

.map-container {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.map-container img{
    width: 100%; 
}


.ulist {
    list-style: none;
    /*удалить точки ul*/
}

.ulist li a {
    position: absolute;
    /* для того что бы увправлять каждой булавкой отдельно */
    text-decoration: none;
    background-color: black;
    text-align: center;
    border: 1px solid black;
    width: 5%;
    border-bottom-right-radius: 10px;
}


/*позиция булавки*/
.map-container .ulist .pin1 a {
    left: 85%;
    top: 70%;
}
.map-container .ulist .pin2 a {
    left: 39%;
    top: 57%;
}


.ulist img {
    width: 100%;
    border-bottom-right-radius: 10px;

}

.ulist span {
    color: wheat;

}

