* {
    box-sizing: border-box;
}

.container_spiders {
    margin-top: 20px;
}

.column1 {
    float: left;
    display: flex;
    width: 80%;
}

.column2 {
    display: flex;
    float: right;
    width: 20%;
    border: solid 2px red;
    flex-direction: column;
}

.column3 {
    display: flex;
    width: 100%;
    border-top: solid 2px burlywood;
    justify-content: center;

}

.column4 {
    display: flex;
    width: 100%;
    border-top: solid 2px burlywood;
    justify-content: center;

}

.col1 {
    display: flex;
    float: left;
    width: 50%;
    flex-direction: column;
}

.col1 span {
    margin-left: 8px;
    text-align: left;
    font-size: 18px;
}

.col2 {
    width: 50%;
    float: right;
}

.col2 img {
    margin: 50px;
    border-radius: 200px;
    max-width: 60%;
    min-width: auto;
    border: solid 5px black;
}

.mapNpins {
    /*can be used to  manipulate/position the entire mapNpins block*/
    display: block;
    width: 100%;
    border-top: solid 2px burlywood;
    justify-content: center;

}

.map-container {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

/* .map{
    max-width: 100%; /* максимальный размер карты
    max-height: 100%;/* 
} */

.ulist {
    list-style: none;
    /*удалить точки ul*/
}

.ulist li a {
    position: absolute;
    /* для того что бы увправлять каждой булавкой отдельно */
    text-decoration: none;
    background-color: black;
    text-align: center;
    border: 1px solid black;
    width: 5%;
    border-bottom-right-radius: 10px;
}


/*позиция булавки*/
.map-container .ulist .pin1 a {
    left: 25.5%;
    top: 47%;
}

.map-container .ulist .pin2 a {
    left: 20%;
    top: 40%;
}


.ulist img {
    width: 100%;
    border-bottom-right-radius: 10px;

}

.ulist span {
    color: wheat;
    word-break: break-all;
}

@media screen and (max-width: 599px) {
    .column1 {
        font-size: 15px;
        width: 100%;
        text-align: center;
    }

    .column1 h1 {
        font-size: 1.5rem;
    }

    .column2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
        width: 95%;

    }

    .col2 {
        display: none;
    }

    .col1 {
        width: 100%;
    }

    .col1 span {
        margin: 10px;
    }

    .col1 ul {
        text-align: center;
        margin: 20px;
    }

    .col1 li {
        margin-right: 2rem;
    }

    .column4 {
        display: none;
    }

}

@media screen and (min-width: 600px) and (max-width: 767px) {
    .column1 {
        font-size: 15px;
        width: 100%;
        text-align: center;
    }

    .column1 h1 {
        font-size: 1.5rem;
    }

    .column2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
        width: 95%;
    }

    .col1 {
        width: 100%;

    }

    .col2 {
        display: none;
    }

    .column4 {
        display: none;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .column1 {
        font-size: 15px;
        width: 100%;
        text-align: center;
    }

    .column1 h1 {
        font-size: 1.5rem;
    }

    .column2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1.5rem;
        width: 95%;
    }

    .col2 {
        height: 100%;

    }

    .col1 {
        width: 100%;
    }

    .column4 {
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .column1 {
        font-size: 15px;
        width: 100%;
        text-align: center;
    }

    .column1 h1 {
        font-size: 1.5rem;
    }

    .column2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1.5rem;
        width: 95%;
    }

    .col2 {
        height: 100%;

    }

    .col1 {
        width: 100%;
    }

}

@media screen and (min-width: 1201px) and (max-width: 1600px) {
    .column1 {
        font-size: 15px;
        width: 100%;
        text-align: center;
    }

    .column1 h1 {
        font-size: 1.5rem;
    }

    .column2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1.5rem;
        width: 95%;
    }

    .col2 {
        height: 100%;

    }

    .col1 {
        width: 100%;
    }
}