* {
    box-sizing: border-box;
}

.container_pythons {
    margin-top: 20px;
}

.description {
    display: flex;
    width: 80%;
    float: left;
}


.links_art {
    display: flex;
    float: right;
    width: 18%;
    border: solid 2px red;
    flex-direction: column;
}

.name_map {
    display: flex;
    width: 100%;
    border-top: solid 2px burlywood;
    justify-content: center;

}

.map {
    display: flex;
    width: 100%;
    justify-content: center;


}


.container_desc {
    display: flex;
    float: left;
    width: 50%;
    flex-direction: column;
}

.container_desc span {
    margin-left: 8px;
    text-align: left;
    font-size: 18px;
}

.container_img {
    width: 50%;
    float: right;
}

.container_img img {
    margin: 50px;
    border-radius: 200px;
    max-width: 60%;
    min-width: auto;
    border: solid 5px black;
}

.mapNpins {
    /*can be used to  manipulate/position the entire mapNpins block*/
    display: block;
    width: 100%;
    border-top: solid 2px burlywood;
}

.map-container {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.map-container img {
    width: 100%;
}


.ulist {
    list-style: none;
    /*удалить точки ul*/
}

.ulist li a {
    position: absolute;
    /* для того что бы увправлять каждой булавкой отдельно */
    text-decoration: none;
    background-color: black;
    text-align: center;
    border: 1px solid black;
    width: 5%;
    border-bottom-right-radius: 10px;
}


/*позиция булавки*/
.map-container .ulist .pin1 a {
    left: 85%;
    top: 70%;
}

.map-container .ulist .pin2 a {
    left: 39%;
    top: 57%;
}


.ulist img {
    width: 100%;
    border-bottom-right-radius: 10px;

}

.ulist span {
    color: wheat;

}

@media screen and (max-width: 599px) {
    .description {
        font-size: 15px;
        width: 100%;
        text-align: center;
    }

    .description h1 {
        font-size: 1.5rem;
    }

    .links_art {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
        width: 95%;

    }

    .container_img {
        display: none;
    }

    .container_desc {
        width: 100%;
    }

    .container_desc span {
        margin: 10px;
    }

    .container_desc ul {
        text-align: center;
        margin: 20px;
    }

    .container_desc li {
        margin-right: 2rem;
    }

    .name_map h2 {
        display: none;
    }

    .map {
        display: none;
    }

}

@media screen and (min-width: 600px) and (max-width: 767px) {
    .description {
        font-size: 15px;
        width: 100%;
        text-align: center;
    }

    .description h1 {
        font-size: 1.5rem;
    }

    .links_art {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
        width: 95%;
    }

    .container_desc {
        width: 100%;

    }

    .container_img {
        display: none;
    }

    .name_map h2 {
        display: none;
    }

    .map {
        display: none;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .description {
        font-size: 15px;
        width: 100%;
        text-align: center;
    }

    .description h1 {
        font-size: 1.5rem;
    }

    .links_art {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1.5rem;
        width: 95%;
    }

    .container_img {
        height: 100%;

    }

    .container_desc {
        width: 100%;
    }

    .name_map h2 {
        display: none;
    }


    .map {
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .description {
        font-size: 15px;
        width: 100%;
        text-align: center;
    }

    .description h1 {
        font-size: 1.5rem;
    }

    .links_art {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1.5rem;
        width: 95%;
    }

    .container_img {
        height: 100%;

    }

    .container_desc {
        width: 100%;
    }

}

@media screen and (min-width: 1201px) and (max-width: 1600px) {
    .description {
        font-size: 15px;
        width: 100%;
        text-align: center;
    }

    .description h1 {
        font-size: 1.5rem;
    }

    .links_art {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 2.5rem;
        width: 95%;
    }

    .container_img {
        height: 100%;

    }

    .container_desc {
        width: 100%;
    }
}